@page "/KhoahocAdd/"
@using Flic.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<AuthorizeView>
    <NotAuthorized>
        <span>You're not authorize</span>
    </NotAuthorized>
    <Authorized Context="Auth">
        <div class="row">
            <h3>Thêm Khóa học</h3>
            <RadzenTemplateForm TItem="Khoahoc" Data=@item Submit=@OnSubmit>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Id" Text="Mã Khoa" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="Id" @bind-Value=@item.Id />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Id" Text="Nhập mã khoa" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <RadzenLabel Component="Name" Text="Tên Khoa" />
                    </div>
                    <div class="col-6">
                        <RadzenTextBox Name="Name" @bind-Value=@item.Name />
                    </div>
                    <div class="col-2">
                        <RadzenRequiredValidator Component="Name" Text="Nhập Tên" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Lưu" />
                        <RadzenButton ButtonType="ButtonType.Button" Click=@Cancel Text="Hủy" />
                    </div>
                    <div class="col-2">
                    </div>
                </div>

            </RadzenTemplateForm>
        </div>
    </Authorized>
</AuthorizeView>
@*
<h2>Thêm Khóa học</h2>
<div class="row">

    <div class="col-md-4">
        <div class="form-group">
            <label for="CountryCode">Mã khóa học</label>
            <input form="CountryCode" class="form-control" @bind="@item.Id" />
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-md-4">
        <div class="form-group">
            <label for="CountryCode">Tên khóa học</label>
            <input form="CountryCode" class="form-control" @bind="@item.Name" />
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>*@

@code {
    Khoahoc item = new Khoahoc();

    protected async Task OnSubmit()
    {
        try{
            var response = await Http.PostAsJsonAsync("api/Khoahoc/KhoahocAdd", @item);
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
            NavigationManager.NavigateTo("KhoahocList");
        }catch (Exception e){
            await JsRuntime.InvokeVoidAsync("alert", "Error:" + e.Message);
        }
        
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("KhoahocList");
    }
}
