@page "/Gioithieu"

<link rel="stylesheet" href="index.css">
<p>
    Trung tâm Ngoại ngữ - Tin học, Học viện Thanh thiếu niên Việt Nam là đơn vị trực thuộc Học viện Thanh thiếu niên Việt Nam.
</p>

<p>
    I. Chức năng
</p>
<p>
    Tham mưu, tổ chức thực hiện công tác đào tạo, bồi dưỡng nâng cao trình độ ngoại ngữ, Tin học cho sinh viên, cán bộ, giảng viên thuộc học viện Thanh thiếu niên Việt Nam; Tổ chức thi và cấp chứng chỉ ứng dụng công nghệ thông tin cơ bản, liên kết với các đơn vị trong việc tổ chức đào tạo, bồi dưỡng, cấp chứng chỉ ngoại ngữ, tin học.
</p>
<p>
    II. Nhiệm vụ
</p>
<p>
    1. Tổ chức đào tạo, bồi dưỡng và tổ chức thi cấp chứng chỉ ngoại ngữ, tin học cho sinh viên Học viện Thanh thiếu niên Việt Nam, cán bộ, công chức, viên chức các ban, đơn vị thuộc cơ quan Trung ương Đoàn và các cá nhân có nhu cầu theo quy định của pháp luật.<br />
    2. Liên kết, phối hợp với các đơn vị để đào tạo, bồi dưỡng, nâng cao trình độ ngoại ngữ, tin học cho các tổ chức và cá nhân có nhu cầu.<br />
    3. Xây dựng chương trình đào tạo, bồi dưỡng và các tài liệu phục vụ đào tạo, bồi dưỡng ngoại ngữ, tin học.<br />
    4. Cung cấp các dịch vụ tư vấn, chuyển giao kỹ thuật công nghệ thông tin cho các đơn vị và cá nhân có nhu cầu.<br />
    5. Thực hiện các nhiệm vụ khác theo phân công của Giám đốc Học viện Thanh thiếu niên Việt Nam.<br />
</p>

@code {

}
